<div id="parentContainer">
    <table>
        <tr>
            <th colspan="2">
                {{title}}
            </th>
        </tr>
        <tr>
            <td i18n="Option|First diagnoses option@@First Option">
                optionOne
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="options.option1" (change)="toggleDiagnoses(options.option1)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td i18n="Option|Second diagnoses option@@Second Option">
                optionTwo
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="options.option2" (change)="toggleDiagnoses(options.option2)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td i18n="Option|Third diagnoses option@@Third Option">
                Respiratory Rate ≥ 30
                optionThree
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="options.option3" (change)="toggleDiagnoses(options.option3)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td i18n="Option|Fourth diagnoses option@@Fourth Option">
                Systolic BP < 90 mmHg or Diastolic BP ≤ 60 mmHg
                optionFour
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="options.option4" (change)="toggleDiagnoses(options.option4)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td i18n="Option|Fifth diagnoses option@@Fifth Option">
                
                optionFive
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="options.option5" (change)="toggleDiagnoses(options.option5)">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </table>
    <div id="diagnosesContainer">
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 0}">
            <strong>0 points</strong>
            <p>Low risk group: 0.6% 30-day mortality.</p>
            <p>Consider outpatient treatment.</p>
        </div>
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 1}">
            <strong>1 points</strong>
            <p>Low risk group: 2.7% 30-day mortality.</p>
            <p>Consider outpatient treatment.</p>
        </div>
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 2}">
            <strong>2 points</strong>
            <p>Moderate risk group: 6.8% 30-day mortality.</p>
            <p>Consider inpatient treatment or outpatient with close followup..</p>
        </div>
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 3}">
            <strong>3 points</strong>
            <p>Severe risk group: 14.0% 30-day mortality.</p>
            <p>Consider inpatient treatment with possible intensive care admission.</p>
        </div>
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 4}">
            <strong>4 points</strong>
            <p>Highest risk group: 27.8% 30-day mortality.</p>
            <p>Consider inpatient treatment with possible intensive care admission.</p>
        </div>
        <div class="diagnoses" [ngClass]="{'active':diadnosesCount === 5}">
            <strong>5 points</strong>
            <p>Highest risk group: 27.8% 30-day mortality.</p>
            <p>Consider inpatient treatment with possible intensive care admission</p>
        </div>
    </div>
</div>